<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wallet Profile</title>
  <link rel="shortcut icon" href="/images/person.svg" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</head>
<body>
  <%- include('../../inc/top.ejs')%>  
  <div class="container mt-5">
    <h2>Danh sách tài sản của người dùng</h2>
    <% if (msg) { %>
      <div class="alert alert-info"><%= msg %></div>
    <% } %>
    <% if (userItems.length > 0) { %>
      <div class="row">
        <% userItems.forEach(item => { %>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="<%= (item.item.imageUrl && item.item.imageUrl.trim() !== '') ? item.item.imageUrl : 'https://img.freepik.com/free-vector/hand-drawn-no-data-illustration_23-2150544961.jpg?t=st=1722434611~exp=1722438211~hmac=ae5c899ced05c3cf160428ebf8b5fe0f9ba7f1917926c1eecff690eaa7b8a41b&w=740' %>" 
                   class="card-img-top" 
                   alt="<%= item.item.name %>" style="max-height: 320px;">
              <div class="card-body">
                <h5 class="card-title"><%= item.item.name %></h5>
                <p class="card-text"><%= item.item.description %></p>
                <p><strong>Loại:</strong> <%= item.type %></p>
                <% if (item.type === 'Currency') { %>
                  <p><strong>Số lượng:</strong> <%= item.quantity %></p>
                <% } %>
                <% if (item.type === 'UniqueAsset') { %>
                  <p><strong>Thuộc bộ sưu tập:</strong> <%= item.item.collection.name %></p>
                <% } %>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    <% } else { %>
      <p>Không có tài sản nào để hiển thị.</p>
    <% } %>
  </div>
</body>
</html>
