<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Countdown Button</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 0;
      padding: 0;
    }
    #button {
      position: fixed;
      bottom: 20px;
      right: 20px;
      font-size: 24px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="mt-4 mb-4"><%= data.item.comic_name %></h1>
    <h1 class="mt-4 mb-4">Chapter <%= data.item.chapter_name %></h1>
    <div class="position-relative">
        <% if (data && data.item && data.item.chapter_image && data.item.chapter_image.length > 0) { %>
            <% data.item.chapter_image.forEach(function(image) { %>
                <div class="col-md-8">
                    <div class="card mb-4 shadow-sm">
                        <img src="<%= data.domain_cdn %>/<%= data.item.chapter_path %>/<%= image.image_file %>" class="card-img-top" alt="Image <%= image.image_page %>">
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <p>Không có hình ảnh để hiển thị.</p>
        <% } %>
    </div>
</div>

  <button id="button" class="btn btn-primary" disabled>30</button>
  

  <!-- Nhúng file JavaScript -->
  <script src="/checkReading.js"></script>

</body>
</html>
